<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Book_Detail.css">
    <title>Book Search</title>
</head>
<body>

    <div class="container">
        <h1>About The book </h1>
        
        <div class="container">
           
            <div id = 'detail' >
                <h4>Book ID is : {{id}} </h4>
                <h4>Book name is : {{name}} </h4>
                <h4>Book Price is : {{Price}} </h4>
                <h4>Avalibility : {{Ava}} </h4>
            </div>

        </div>

    </div>

    <script src="script.js"></script>
</body>
</html>