<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Book Search</title>
</head>
<body>

    <div class="container">
        <h1>Book Search</h1>
        
        <div class="form">
            <form action="/find" method="POST">
            <label for="search">Search for a book:</label>
            <input type="text" name = "bookName" id="search" placeholder="Enter book title...">
            <input type="submit" value="search">
            </form>
        </div>

    </div>

</body>
</html>